<include file="./Application/home/View/Public/login_header.html" />
<body>
<div class="pet_login">
	<div class="pet_name"><a href="/">Pet Charm—宠之魅</a></div>
	<div class="login">	
		<form action="/index.php/login" method="post" >
			<div class="login_div"><div class="tit">用户名</div>：<input type="text" name="username" /></div>
			<div class="login_div"><div class="tit">密码</div>：<input type="password" name="password" /></div>
			<div class="subinsert"><input type="submit" name="submit" value="登录" /> <a href="/index.php/login/register">注册</a> <input type="reset" name="reset" value="重置" /></div>
			
		</form>
	</div>
</div>
</body>
</html>