<include file="./Application/Admin/View/Public/header.html" />
<frameset rows="120,*" frameborder="1">
	<frame src="/admin.php/index/header" id="topFrame" scrolling="no" frameborder="1" noresize="noresize">
	<frameset cols="150,8,*" id="bottomFrame" frameborder="1" name="bottomFrame">
		<frame src="/admin.php/index/left" id="menuFrame" name="menuFrame" scrolling="no" frameborder="0" noresize="noresize">
		<frame src="/admin.php/index/seprator" id="spaceFrame" noresize="noresize" frameborder="1" scrolling="no">
		<frame src="/admin.php/index/defaultindex" id="mainFrame" name="mainFrame" frameborder="">
	</frameset>
</frameset>
</html>
