<include file=".//Tpl/Public/header.html" />
<div class="footer">
	<div class="foot_tit">关于我们</div>
	<div class="foot_con">我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们1111111111111111共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人</div>
</div>
</body>
<include file=".//Tpl/Public/footer.html" />