<include file=".//Tpl/Public/header.html" />
<div class="footer">
	<div class="foot_tit">免责声明</div>
	<div class="foot_con">我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义4444444444444444接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人我们共产主义接班人</div>
</div>
</body>
<include file=".//Tpl/Public/footer.html" />