<include file="./Application/home/View/Public/header.html" />
<div class="loock_listbg">
	<div class="say">爱了就要大声说出来，不要给自己留下遗憾！未表白的，热恋中的，想追回的，请把想说的话留在这里吧！这里就是你的练爱专区! </div>
	<div id="m" class="m">
	<!-- dc 为纵向列  开始 -->
	<!----------------第一列 start-------------------->
		<div class="dc"></div>
		<div class="dc"></div>
		<div class="dc"></div>
		<div class="dc"></div>
		
	</div>
</div>
<div class="pbl_login" >
		<if condition="($totalnum gt $perNum)" >
        <img src="__PUBLIC__/images/home/loading1.gif" alt="">
            奋力加载中......
		</if>
</div>
<div class="pagingpul" style="display: none;">
	<div class="pagingpul_right">
		<if condition="($totalPage gt 1)" >
			{$pageHtml}
		</if>
	</div>
</div>
</body>
<include file="./Application/home/View/Public/footer.html" />
<script>
$(function(){
	var _height = Array(0,0,0,0);
	var stream_time = 2;
	var stream_time_max = '{$len}';//加载4次停止
	var line = $('.dc');
	var page="{$page}";
	$(window).bind("scroll", function(){
		if(stream_time <= stream_time_max)
		{
			var _height = new Array();
			line.each(function(i, item){
				_height.push($(this).height());
			});
			if($(document).scrollTop() + $(window).height() > $(document).height() - 5) {
				stream_pic(stream_time,_height);
				stream_time++;
			}
		}else{
			stream_change(1);
		}
	})

	function stream_change(o){
		if(o==1){
			//隐藏正在加载，显示分页
			$('.pbl_login').hide();
			$('.pagingpul').show();
		}else{
			//与上面相反
			$('.pbl_login').show();
			$('.pagingpul').hide();
		}
	}
	stream_pic(1,_height);
	function stream_pic(stream_time,_height){
		stream_change(2);
		$.ajax({
			dataType:'json', 
			type:'POST',
			url:'/index.php/saylove',
			data:{'_height':_height,'page':page,'stream_time':stream_time},
			cache:false,
			success:function(data)
			{
				if(data.status == 1)
				{
					$.each(data.list,function(i,pic)
					{
						str='';
						str+='<div class="one"><div class="onepic">'
						str+='<a href="/index.php/user" class="hot_add"><div>'+pic.name+'</div></a></div>'
						str+='<div class="onedes" height="'+pic.height+'">'+pic.info+'</div><div class="toname">'+pic.toname+'</div><div class="onetit">眼缘：0</div>'
						for(var i=0;i<4;i++)
						{
							if(pic.sort == i){line.eq(i).append(str);}
						}
					})

				}else
				{
					stream_change(1);
				}
			}
		})
	}
})
</script>
</html>