<include file="./Application/Admin/View/Public/header.html" />
<body>
<div class="menu">
	<div class="daohang">
		<ol class="breadcrumb">
		  <li><a href="#">首页</a></li>
		  <li><a href="#">宠物分类</a></li>
		  <li class="active">分类列表</li>
		</ol>
	</div>
	<div class="indexadd"><a href="/admin.php/petType/type">添加</a></div>
	<div class="menuo">一级分类</div>
	<div class="menul">二级分类</div>
	<div class="menul">目录操作</div>
	<div class="menut">
	<!--第一个循环 -->
		<div class="menuc">
			<div class="menuf">目录设置</div>
			<div class="menul">
				<div>
					<div class="menuf">----</div>
					<div class="menua"><a href="/admin.php/petType/typeedit">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
			</div>
		</div>
		<!--第一个循环 -->
		<!--第一个循环 -->
		<div class="menuc">
			<div class="menuf">目录设置</div>
			<div class="menul">
				<div>
					<div class="menuf">----</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
				<div>
					<div class="menuf">目录设置</div>
					<div class="menua"><a href="#">修改</a>|<a href="#">删除</a></div>
				</div>
			</div>
		</div>
	</div>
	<!--第一个循环 -->
</div>	

</body>
</html>
