<include file="./Application/home/View/Public/header.html" />
<div class="loock_listbg">
	<div id="m" class="m">
	<!-- dc 为纵向列  开始 -->
	<!----------------第一列 start-------------------->
		<div class="dc"></div>
		<div class="dc"></div>
		<div class="dc"></div>
		<div class="dc">
			<div class="hottype">
				<div class="fonttype">
					<span>热门分类</span>
					<p class="floatr"><a href="#">全部分类 ></a></p>
					<span style="clear:both;"></span>
				</div>
				<hr />
				<div class="typelist">
					<a href="/">全部</a>
					<foreach name="type_data" item="vo">
					<a href="/index.php/show?typeid={$vo.id}">{$vo.typename}</a>
					</foreach>
				</div>
			</div>
		</div>
		
	</div>
</div>
<div class="pbl_login" >
        <img src="__PUBLIC__/images/home/loading1.gif" alt="">
            奋力加载中......
</div>
<div class="pagingpul" style="display: none;">
	<div class="pagingpul_right">
	<if condition="($totalPage gt 1)">
		{$pageHtml}
	<if>
	</div>
</div>
<include file="./Application/home/View/Public/footer.html" />
</body>
<script>
$(function(){
	var _height = Array(0,0,0,0);
	var stream_time = 2;
	var stream_time_max = 5;//加载4次停止
	var line = $('.dc');
	var pageNum = '{pageNum}'
	var typeid = '{$typeid}'
	var page="{$page}";
	$(window).bind("scroll", function(){
		if(stream_time < stream_time_max)
		{
			var _height = new Array();
			line.each(function(i, item){
				_height.push($(this).height());
			});
			if($(document).scrollTop() + $(window).height() > $(document).height() - 5) {
				stream_pic(stream_time,_height);
				stream_time++;
			}
		}else{
			stream_change(1);
		}
	})

	function stream_change(o){
		if(o==1){
			//隐藏正在加载，显示分页
			$('.pbl_login').hide();
			$('.pagingpul').show();
		}else{
			//与上面相反
			$('.pbl_login').show();
			$('.pagingpul').hide();
		}
	}
	stream_pic(1,_height);
	function stream_pic(stream_time,_height){
		stream_change(2);
		//alert(_height[1]);
		$.ajax({
			dataType:'json', 
			type:'POST',
			url:'/index.php/show',
			data:{'_height':_height,'page':page,'stream_time':stream_time,'typeid':typeid},
			cache:false,
			success:function(data)
			{
				if(data.status == 1)
				{
					$.each(data.list,function(i,pic)
					{
						str='';
						str+='<div class="one"><div class="onepic">'
						str+='<a class="hot_add" id="'+pic.id+'" href="/index.php/show/detail?id='+pic.id+'" title="'+pic.title+'" target="_blank">'
						str+='<img src="/Uploads'+pic.home_pic+'" height="'+pic.height+'" alt="'+pic.title+'">'
						str+='</a>'
						str+='</div>'
						str+='<div class="onedes">'+pic.title+'</div><div class="onetit">眼缘：0</div>'
						str+='</div>'
						for(var i=0;i<4;i++)
						{
							if(pic.sort == i){line.eq(i).append(str);}
						}
					})

				}else
				{
					stream_change(1);
				}
			}
		})
	}
})
</script>
</html>